---
import Layout from "../Layouts/Layout.astro";
---

<Layout>
  <h2 class="text-3xl font-bold animate__animated animate__fadeInUp">Sobre Mim</h2>
  <p class="mt-4 max-w-xl">
    Este é um exemplo de página criada com Astro, Tailwind, Animate.css e Lottie.
  </p>
</Layout>
